* {
    box-sizing: border-box;

}
body {
    display: flex;
    /* background-color: lightgrey; */
    background-image: url("https://wallpaperaccess.com/full/1853779.jpg");
    image-rendering: pixelated;
    flex-direction: column;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}

main {
    border: black .5vh solid;
}

h2 {
    text-align: center;
    margin-top: 1vmin;
    color: white;
    -webkit-text-stroke: .1vh black;
}

#gameboard {
    display: grid;
    background-color: #95fff7;
    grid-template-rows: repeat(6, 10vmin);
    grid-template-columns: repeat(7, 10vmin);
    gap: 1vmin;
    height: 67vmin;
    width: 77vmin;
    justify-content: center;
}
#gameboard > div {
    border-radius: 50%;
    border: black .5vh solid;
    background-color: whitesmoke;
    align-content: center;
}

#choiceButtons {
    display: grid;
    background-color: #95fff7;
    grid-template-columns: repeat(7, 10vmin);
    padding-bottom: 2vmin;
    padding-top: 2vmin;
    gap: 1vmin;
    width: 77vmin;
    justify-content: center;
}

#choiceButtons > div {
    border: .5vmin solid black;
    background-color: whitesmoke;
    align-content: center;
    height: 5vmin;
}

#choiceButtons > div:hover {
    background-color: whitesmoke;
}

#replay {
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin solid grey;
    color: grey;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }

  #replay:hover {
    background-color: rgba(0, 255, 255, 0.199);
    color: black;
  }