* {
    box-sizing: border-box; 
}

body {
margin: 0;
}

header {
font-size: 6vmin;
padding: 1vmin;
color: black;
text-align: center;
letter-spacing: 0.5vmin;
font-size: 5vmin;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border:1vmin solid black;
    border-radius: 2vmin;
    background:blue;
}
#gameBoard {
    background-color: whitesmoke;

}

td.slot{
    width: 12vh;
    height: 12vh;
    margin: auto;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
}

td.black {
    background-color:rgb(3, 12, 12);
}
td.red {
    background-color:rgb(245, 80, 108);
}

#meta {
    display: flex;
    justify-content: center;
    align-items: center;
}

#replay {
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .3vmin solid grey;
    color: grey;
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
  }

  #replay:hover {
    background-color: rgba(0, 255, 255, 0.199);
    color: black;
  }

#error {
      display: none;
  }

@media (max-width: 600px) {
    .cell {background-color: red;}
    * { background-color: red;}
    #msg {display: none;}
    #error {display:block;}
}